* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}
a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navigation Incio */
.nav-main {
    background: black;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    margin-bottom: 30px;
}
.nav-img {
    width: 75px;
    height: 70px;
}
/* Navbar Left */
.nav-main ul {
    display: flex;
} 
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a {
    padding: 2px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
/* Navigation Final */

/* CARDS INICIO*/
h2{
    font-weight: 400;
}
p{
    font-weight: 300;
}
.container{
    margin: 0 auto;
    width: 90%;
}
/* alinea el texto hacía el centro*/
.text-center{
    text-align: center;
}
.precio{
    font-size: 35px;
    color: rgb(0, 0, 0);
}
/* Ubica en una sola fila y toma solo el espacio necesario para desplegar su contenido*/
.flex{
    display: flex;
    /* hace que los elementos usen el width:25%(ancho) disponible*/
    flex-wrap: wrap;
}

.columna{
    background: rgb(5, 115, 158);
    color: rgb(255, 255, 255);
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    /* añade un efecto de sombra alrededor del marco*/
    box-shadow: 10px 10px 5px rgb(92, 91, 91);
    width: 20%;
    /* hace que se tome en cuenta el valor que se especifique de borde o de relleno para el ancho o alto*/
    box-sizing: border-box;
}

.btn-contrato{
    background: rgb(179, 7, 113);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}
/* Estilo qe oscurece el botón cuando pasas el mouse sobre él*/
.btn-contrato:hover{
    background: rgb(119, 2, 74);
}
/* media query que modifica la página en función del tipo de dispositivo, estilo responsivo*/
@media (max-width: 932px){
    /* en este caso antes de los 932px el porcentaje del ancho de las columnas tendrán un 100% */
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }
}
/* CARDS FIN*/

/* FOOTER INICIO */
.footer {
    margin-top: 50px;
    background: black;
    color: white;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links a i {
    font-size: 3rem;
}