* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Roboto Slab", serif;
}
a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navigation Incio */
.nav-main {
    background: black;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-img {
    width: 75px;
    height: 70px;
}
.nav-main ul {
    display: flex;
} 
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a {
    padding: 2px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
/* Navigation Final */


/* SLIDER INICIO */
.container-all img{
    display: block;
    width: 1360px;
    height: 720px;
}
.container-all{
    position: relative;
    margin:auto;
    max-width:1360px;
	max-height:720px;
    overflow: hidden;
}
.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    animation-name: autoplay;
    animation-duration: 15s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
.pagination-item:hover{
    transform: scale(2);
}
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 500ms;
}
.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}
@keyframes autoplay{
    10%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    40%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    70%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
}
/* SLIDER FINAL */



/* CARDS INICIO*/
h2{
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-weight: 300;
}
.container{
    margin: 0 auto;
    width: 90%;
}
/* alinea el texto hacía el centro*/
.text-center{
    text-align: center;
}
.precio{
    font-size: 35px;
    color: rgb(0, 0, 0);
}
/* Ubica en una sola fila y toma solo el espacio necesario para desplegar su contenido*/
.flex{
    display: flex;
    /* hace que los elementos usen el width:25%(ancho) disponible*/
    flex-wrap: wrap;
}

.columna{
    background: rgb(5, 115, 158);
    color: rgb(255, 255, 255);
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    /* añade un efecto de sombra alrededor del marco*/
    box-shadow: 10px 10px 5px rgb(92, 91, 91);
    width: 20%;
    /* hace que se tome en cuenta el valor que se especifique de borde o de relleno para el ancho o alto*/
    box-sizing: border-box;
}

.btn-contrato{
    background: rgb(179, 7, 113);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}
/* Estilo qe oscurece el botón cuando pasas el mouse sobre él*/
.btn-contrato:hover{
    background: rgb(119, 2, 74);
}
/* media query que modifica la página en función del tipo de dispositivo, estilo responsivo*/
@media (max-width: 932px){
    /* en este caso antes de los 932px el porcentaje del ancho de las columnas tendrán un 100% */
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }
}
/* CARDS FIN*/


/* FOOTER FOLLOW INICIO */
.footer {
    
    background: black;
    color: white;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links a i {
    font-size: 3rem;
}
/* FOOTER FOLLOW FIN*/


/* FOOTER LINKS INICIO*/
.footer-links {
    background: #2f3640;
    color: white;
    font-size: 12px;
    margin-top: 50px;
    padding: 35px 0;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}
.footer-container ul {
    margin: auto;
}
.footer-links li {
    line-height: 2.8;
}
/* FOOTER LINKS FIN*/